# Nuxt build output
.nuxt/
.nuxtrc
.output/
dist

# Playwright
test-results/
playwright-report/
playwright/.cache/

# pnpm
node_modules/
.pnpm-store/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# AI
.claude